.Projects {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  font-size: 0.9rem;
}

.Container {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  h1,
  h2,
  h3 {
    font-family: var(--font-style-secondary);
  }
  h1 {
    color: var(--font-main);
  }
}

.Left {
  header {
    text-align: right;
    padding-top: 3rem;
    h2 {
      text-transform: uppercase;
      color: #838383;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1rem;
      margin: 0px;
      padding: 0.4rem 0px;
    }
    h1 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2rem;
      display: block;
      background-color: var(--bg-main);
      margin: 0px;
      padding: 1rem 2rem;
      box-shadow: 0.25rem 0.25rem 1.3rem 0px rgba(0, 0, 0, 0.4);
    }
    .Text {
      padding: 3rem 2rem 0px 3rem;
      text-align: left;
    }
    p {
      color: #454545;
    }
  }
}

.Right {
  padding: 4rem 0px 2rem 4rem;
  .Project {
    padding: 1rem 1rem 1rem 2rem;
    background-color: #fff;
    display: flex;
    box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin: 1rem 0px;
    .Description {
      padding-right: 1rem;
      h3 {
        margin: 0px;
        color: #4f4c94;
        text-transform: uppercase;
        font-size: 1rem;
      }
    }
    .Picture {
      background-image: url("/assets/portfolio.png");
      background-position: center;
      background-size: cover;
      width: 10rem;
      height: 10rem;
      flex-shrink: 0;
    }
  }
}

.ProjectDetails {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  max-width: 100%;
  width: 30rem;
  background-color: var(--bg-main);
  color: #fff;
  padding: 2rem 3rem;
  box-shadow: -0.3rem 0px 1.5rem rgba(0, 0, 0, 0.4);
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 0px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 2.5rem;
      font-style: var(--font-style-main);
      color: var(--font-main);
    }
    svg {
      width: 3rem;
      height: 3rem;
      color: var(--font-main);
      cursor: pointer;
    }
  }
  p {
    color: #cecece;
  }
  .Icons {
    padding: 2rem 0rem 3rem 0rem;
    svg {
      color: var(--font-main);
      width: 3rem;
      height: 3rem;
      margin: 0px 1rem 0px 0px;
    }
  }
}

.Theme2 {
  .Right .Project .Description h3 {
    color: #c88305;
  }
  p {
    font-size: 1.1rem;
    color: #3e3e3e;
  }

  .ProjectDetails {
  }
}
